doctype html
html(lang="zh")
	head
		title 江海二手车网 | 奥迪A6L
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="js/jquery-2.1.3.min.js")
		script(src="js/bootstrap.min.js")
	body
		.topbar
			.pull-left 热线电话 400-800-8888
			.pull-right
				ul.nav.nav-pills
					li
						a(href="#") QQ交流群
					li
						a(href="#") 新浪微博
					li
						a(href="#") 官方微信
					
		.head
			.container
				.pull-left
					a#logo(href="#")
						img(src="img/logo.png")
				.pull-right
					ul.nav.nav-pills
						li.active
							a(href="#") 首 页
						li
							a(href="#") 我要买车
						li
							a(href="#") 我要卖车
						li
							a(href="#") 服务保障
		.top.top-detail(style="background-image:url('')")
			.container
				.pull-left
					h2 奥迪 A6L 
					p 2010款 | 3.0L | 自动白金版
				.pull-left.intro-box
					p 售价
						span.price.price-big 15.8
							span 万
						a()分期
					p 服务费
						span.price 6839元
						（车价3%）
				.pull-left.intro-box.in
					p
						span.glyphicon.glyphicon-calendar.price-big
					p 2010年10月
				.pull-left.intro-box.in
					p
						span.glyphicon.glyphicon-road.price-big
					p 9.6万公里
				.pull-left.intro-box.in
					p
						span.glyphicon.glyphicon-filter.price-big
					p 国4
				.pull-left.intro-box.in
					p
						span.glyphicon.glyphicon-globe.price-big
					p 无锡
				a.pull-right.ordernow(href="#")
					p= '186661033100'
					h4 预约看车
